@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Spartan:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --calculatorColor: #222222;
    /* #181a1b */
    --secondaryColor: #ff4d43;
    /* #FF3841 */
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', monospace;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

body {
    background-color: floralwhite;
}

#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calc-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(150px, auto);
    grid-auto-rows: minmax(125px, auto);
    max-width: 500px;
    margin: 0 auto;
    /* word-break: break-all; */
    flex-grow: 1;
    background-color: var(--calculatorColor);
    box-shadow: 
    0px 3px 14.1px rgba(0, 0, 0, 0.111),
    0px 10.1px 20.3px rgba(0, 0, 0, 0.131),
    0px 45px 33px rgba(0, 0, 0, 0.15);
    /* box-shadow: 0px 2.3px 14.1px rgba(0, 0, 0, 0.104), 0px 7.8px 20.3px rgba(0, 0, 0, 0.122), 0px 35px 33px rgba(0, 0, 0, 0.14); */
    padding: .5rem;
    border-radius: .5rem;
    color: #fff;
}

#display {
    grid-column: 1 / 5;
    /* background-color: #dcebf9; */
    text-align: right;
    line-height: .95;
    padding: 1rem .75rem;
    word-break: break-all;
}

button {
    color: #f0f0f0;
    background-color: var(--calculatorColor);
    transition: background-color .2s, font-size .15s;
    border: none;
    border-radius: .2rem;
}

button:hover {
    background-color: #3a3a3a;
}

#lastOperation {
    color: #959595;
    min-height: 40px;
}

#currentOperation {
    font-size: 2.5rem;
}

#enter-btn {
    grid-area: 5 / 4 / 7 / 5;
    background-color: var(--secondaryColor);
}

#enter-btn:hover {
    background-color: #d3342c;
    cursor: pointer;
}

/* ----- Utility classes ----- */
.bold,
.operator {
    font-weight: bold;
}